@using GlideBuy.Components
@using GlideBuy.Models.Checkout
@model CheckoutPaymentMethodModel

@* TODO: Handle warnings *@

<!-- Page content -->
<main class="content-wrapper">
<div class="container py-5">
    <div class="row pt-1 pt-sm-3 pt-lg-4 pb-2 pb-md-3 pb-lg-4 pb-xl-5">
        <div class="col-lg-8 col-xl-7 position-relative z-2 mb-5 mb-lg-0">
            <div class="accordion d-flex flex-column gap-5 pe-lg-4 pe-xl-0" id="checkout">

                <!-- Delivery info overview + Edit button -->
                <div class="accordion-item d-flex align-items-start border-0">
                    <div class="d-flex align-items-center justify-content-center bg-body-secondary text-dark-emphasis rounded-circle flex-shrink-0" style="width: 2rem; height: 2rem; margin-top: -.125rem">
                        <i class="ci-check fs-base"></i>
                    </div>
                    <div class="w-100 ps-3 ps-md-4">
                        <div class="d-flex align-items-center">
                            <h2 class="accordion-header h5 mb-0 me-3" id="deliveryInfoHeading">
                                <span class="d-none d-lg-inline">Delivery information</span>
                                <button type="button" class="accordion-button collapsed fs-5 d-lg-none py-1" data-bs-toggle="collapse" data-bs-target="#deliveryInfo" aria-expanded="false" aria-controls="deliveryInfo">
                                    <span class="me-2">Delivery information</span>
                                </button>
                            </h2>
                            <div class="nav ms-auto">
                                <a class="nav-link text-decoration-underline p-0" href="@Url.RouteUrl("CheckoutShippingMethod")">Edit</a>
                            </div>
                        </div>
                        <div class="accordion-collapse collapse d-lg-block" id="deliveryInfo" aria-labelledby="deliveryInfoHeading" data-bs-parent="#checkout">
                            <div class="accordion-body p-0 pt-3 pt-md-4">
                                <h3 class="fs-sm mb-2">Postcode</h3>
                                <p class="fs-sm">15006</p>
                                <h3 class="fs-sm mb-2">Estimated delivery date</h3>
                                <div class="d-flex align-items-center fs-sm">
                                    Monday, 13
                                    <span class="opacity-40 mx-2">|</span>
                                    12:00 - 16:00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Shipping address overview + Edit button -->
                <div class="accordion-item d-flex align-items-start border-0">
                    <div class="d-flex align-items-center justify-content-center bg-body-secondary text-dark-emphasis rounded-circle flex-shrink-0" style="width: 2rem; height: 2rem; margin-top: -.125rem">
                        <i class="ci-check fs-base"></i>
                    </div>
                    <div class="w-100 ps-3 ps-md-4">
                        <div class="d-flex align-items-center">
                            <h2 class="accordion-header h5 mb-0 me-3" id="shippingAddressHeading">
                                <span class="d-none d-lg-inline">Shipping address</span>
                                <button type="button" class="accordion-button collapsed fs-5 d-lg-none py-1" data-bs-toggle="collapse" data-bs-target="#shippingAddress" aria-expanded="false" aria-controls="shippingAddress">
                                    <span class="me-2">Shipping address</span>
                                </button>
                            </h2>
                            <div class="nav ms-auto">
                                <a class="nav-link text-decoration-underline p-0" href="@Url.RouteUrl("CheckoutShippingAddress")">Edit</a>
                            </div>
                        </div>
                        <div class="accordion-collapse collapse d-lg-block" id="shippingAddress" aria-labelledby="shippingAddressHeading" data-bs-parent="#checkout">
                            <ul class="accordion-body list-unstyled fs-sm p-0 pt-3 pt-md-4 mb-0">
                                <li>Jane Cooper</li>
                                <li>jane.cooper@email.com</li>
                                <li>(215) 555-1234</li>
                                <li>Pennsylvania 15006</li>
                                <li>567 Cherry Lane Apt B12 Harrisburg</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <!-- Payment method -->
                <div class="d-flex align-items-start">

                        <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle fs-sm fw-semibold lh-1 flex-shrink-0" style="width: 2rem; height: 2rem; margin-top: -.125rem">3</div>
                        <div class="w-100 ps-3 ps-md-4">
                            <h2 class="h5 mb-0">Payment</h2>
                            <div asp-validation-summary="ModelOnly" class="message-error"></div>
                            @if (Model.Warnings.Count > 0)
                            {
                                <div class="message-error">
                                    <ul>
                                        @foreach (var warning in Model.Warnings)
                                        {
                                            <li>@warning</li>
                                        }
                                    </ul>
                                </div>
                            }

                            @if (Model.PaymentMethods.Count > 0)
                            {
                                <div class="mb-4" id="paymentMethod" role="list">

                                    @for (var i = 0; i < Model.PaymentMethods.Count; i++)
                                    {
                                        var paymentMethod = Model.PaymentMethods[i];
                                        var formId = $"payment-form-{paymentMethod.PaymentMethodSystemName}";

                                        <div class="mt-4">
                                            @* TODO: Handle data-bs-tartget and aria-controls *@
                                        <div class="form-check mb-0" role="listitem" data-bs-toggle="collapse" data-bs-target="#payment-method-view-@(i)" aria-expanded="@paymentMethod.Selected" aria-controls="card">

                                                @*
                                                    Use this instead
                                                    <label class="form-check-label w-100 text-dark-emphasis fw-semibold">
                                                    if there are multiple elements inside the label

                                                *@
                                                <label class="form-check-label d-flex align-items-center text-dark-emphasis fw-semibold">
                                                        
                                                    @* TODO: Remove name and value since they are not part of the form anymore? *@
                                                <input
                                                    type="radio"
                                                    id="paymentmethod_@(i)"
                                                    name="paymentmethod"
                                                    value="@(paymentMethod.PaymentMethodSystemName)"
                                                    checked="@paymentMethod.Selected"
                                                    data-form-id="@formId"
                                                    class="form-check-input fs-base me-2 me-sm-3" />
                                                    @paymentMethod.Name

                                                    @* TODO: Handle payment method logo *@

                                                </label>
                                            </div>

                                        <div class="collapse @(paymentMethod.Selected ? "show" : "")" id="payment-method-view-@(i)" data-bs-parent="#paymentMethod">

                                                @* TODO: Inside or outside the form? *@
                                                <form
                                                    id="@formId"
                                                    asp-route="CheckoutConfirm"
                                                    method="post"
                                                    class="needs-validation pt-4 pb-2 ps-3 ms-2 ms-sm-3"
                                                    novalidate>

                                                <input type="hidden" name="paymentmethod" value="@paymentMethod.PaymentMethodSystemName" />

                                                <div class="needs-validation pt-4 pb-2 ps-3 ms-2 ms-sm-3" novalidate>
                                                    @if (paymentMethod.PaymentViewComponent is not null)
                                                    {
                                                        @await Component.InvokeAsync(paymentMethod.PaymentViewComponent)
                                                    }
                                                </div>

                                                </form>

                                            </div>

                                        </div>
                                    }

                                </div>

                                <!-- Add promo code button -->
                                <div class="nav pb-3 mb-2 mb-sm-3">
                                    <a class="nav-link animate-underline p-0" href="#!">
                                        <i class="ci-plus-circle fs-xl ms-a me-2"></i>
                                        <span class="animate-target">Add a promo code or a gift card</span>
                                    </a>
                                </div>

                                <!-- Additional comments -->
                                <textarea class="form-control form-control-lg mb-4" rows="3" placeholder="Additional comments"></textarea>

                                <div class="form-check mb-lg-4">
                                    <input type="checkbox" class="form-check-input" id="accept-terms">
                                    <label for="accept-terms" class="form-check-label nav align-items-center">
                                        I accept the
                                        <a class="nav-link text-decoration-underline fw-normal ms-1 p-0" href="terms-and-conditions.html">Terms and Conditions</a>
                                    </label>
                                </div>

                                <!-- Pay button visible on screens > 991px wide (lg breakpoint) -->
                                <button id="pay-button" type="submit" name="nextstep" class="btn btn-lg btn-primary w-100 d-none d-lg-flex" hraef="">Pay $2,406.90</button>
                            }
                            else
                            {
                                <div class="alert d-flex alert-danger" role="alert">
                                    <i class="ci-banned fs-lg pe-1 mt-1 me-2"></i>
                                    <div>No payment methods available.</div>
                                </div>
                            }
                        </div>
                        
                </div>
            </div>
        </div>


        @await Component.InvokeAsync(typeof(OrderSummaryViewComponent), new { isCartPage = false })

    </div>
</div>
</main>

<!-- Fixed positioned pay button that is visible on screens < 992px wide (lg breakpoint) -->
<div class="fixed-bottom z-sticky w-100 py-2 px-3 bg-body border-top shadow d-lg-none">
    <button type="submit" name="nextstep" form="payment-method-form" class="btn btn-lg btn-primary w-100">Pay $2,406.90</button>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        const radios = document.querySelectorAll('input[name="paymentmethod"]');
        const payButton = document.getElementById("pay-button");

        function updatePayButtonForm() {
            const selected = document.querySelector('input[name="paymentmethod"]:checked');
            if (!selected) return;

            const formId = selected.getAttribute("data-form-id");
            payButton.setAttribute("form", formId);
        }

        radios.forEach(radio => {
            radio.addEventListener("change", updatePayButtonForm);
        });

        updatePayButtonForm();
    });
</script>