@model ShoppingCartModel

@using GlideBuy.Components
@using GlideBuy.Core.Domain.Orders
@using GlideBuy.Core.Infrastructure
@using GlideBuy.Models
@using GlideBuy.Models.ViewModels
@using GlideBuy.Web.Models.ShoppingCart

@inject OrderSettings orderSettings

<div class="container-fluid py-5">
	<div class="container py-5">

		@await Html.PartialAsync("_OrderReviewData", Model.OrderReviewData)

		@if (Model.Items.Count > 0)
		{
			if (Model.Warnings.Count > 0)
			{
				<div class="message-error">
					<ul>
						@foreach (string warning in Model.Warnings)
						{
							<li>@warning</li>
						}
					</ul>
				</div>
			}

			<form asp-route="ShoppingCart" method="post" id="shopping-cart-form">

				<div class="table-responsive">
					<table class="table">
						<colgroup>
							@if (Model.ShowSku)
							{
								<col width="1" />
							}
							@if (Model.ShowProductImages)
							{
								<col width="1" />
							}
							<col />
							@if (Model.ShowVendorName)
							{
								<col width="1" />
							}
							<col width="1" />
							<col width="1" />
							<col width="1" />
							@if (Model.IsEditable)
							{
								<col width="1" />
							}
						</colgroup>
						<thead>
							<tr>
								@if (Model.ShowSku)
								{
									<th scope="col">SKU</th>
								}
								@if (Model.ShowProductImages)
								{
									<th scope="col">Image</th>
								}
								<th scope="col">Name</th>

								@if (Model.ShowVendorName)
								{
									<th scope="col">Vendor Name</th>
								}
								<th scope="col">Unit Price</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total</th>
								@if (Model.IsEditable)
								{
									<th scope="col">Remove</th>
								}
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.Items)
							{
								<tr>
									@if (Model.ShowSku)
									{
										<td class="sku">
											<label class="">SKU:</label>
											<span class="">@item.Sku</span>
										</td>
									}

									@* TODO: Show product image *@

									<th scope="row">
										<p class="mb-0 py-4">@item.ProductName</p>
									</th>

									@* TODO: Show vendor name *@

									<td>
										<p class="mb-0 py-4">@item.UnitPrice</p>
									</td>

									@* TODO: Implement changing the quantity using this form control. *@
									<td>
										<div class="input-group quantity py-4" style="width: 100px;">
											<div class="input-group-btn">
												<button class="btn btn-sm btn-minus rounded-circle bg-light border">
													<i class="fa fa-minus"></i>
												</button>
											</div>
											<input type="text" class="form-control form-control-sm text-center border-0"
												   value="@item.Quantity">
											<div class="input-group-btn">
												<button class="btn btn-sm btn-plus rounded-circle bg-light border">
													<i class="fa fa-plus"></i>
												</button>
											</div>
										</div>
									</td>

									<td>
										<p class="mb-0 py-4">@item.Subtotal</p>
									</td>

									@if (Model.IsEditable)
									{
										<td class="py-4">
											<form asp-action="RemoveProduct" method="post">
												<input type="hidden" name="productId" value="@item.ProductId" />
												<input type="hidden" name="returnUrl" value="@Model?.ReturnUrl" />
												<button class="btn btn-md rounded-circle bg-light border">
													<i class="fa fa-times text-danger"></i>
												</button>
											</form>
										</td>
									}
								</tr>
							}
						</tbody>
					</table>
				</div>

				<div class="cart-options">
					<div class="common-buttons">
						@if (Model.IsEditable)
						{
							@*Hidden button for updating the cart*@
							<button type="submit" name="updatecart" style="display: none">Update Cart</button>
							<button type="submit" name="continueshopping" class="continue-shopping-button">
								Continue Shopping
							</button>

							@await Component.InvokeAsync(typeof(EstimateShippingViewComponent))
						}
					</div>

					@if (Model.IsEditable || Model.IsReadyToCheckout)
					{
						@await Html.PartialAsync("_CheckoutAttributes", Model)
						@await Component.InvokeAsync(typeof(SelectedCheckoutAttributesViewComponent))
					}
				</div>

				@if (Model.IsEditable)
				{
					@* TODO: Implement coupons and gift cards*@
					<div class="mt-5">
						<input type="text" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="Coupon Code">
						<button class="btn btn-primary rounded-pill px-4 py-3" type="button">Apply Coupon</button>
					</div>
				}

				<div class="row g-4 justify-content-end">
					<div class="col-8"></div>
					<div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
						<div class="bg-light rounded">

							@await Component.InvokeAsync(typeof(OrderTotalsViewComponent), new { isEditable = Model.IsEditable })

							@if (Model.IsEditable)
							{
								if (!string.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
								{
									<div class="min-amount-warning">
										@Model.MinOrderSubtotalWarning
									</div>
								}
							}

							@if (Model.IsEditable || Model.IsReadyToCheckout)
							{
								if (Model.HasTermsOfServiceOnCartPage)
								{
									@*TODO: Design terms of service section*@
								}
							}

							@if (orderSettings.CheckoutDisabled)
							{
								<div>Checkout Disabled</div>
							}
							else
							{
								<button class="btn btn-primary rounded-pill px-4 py-3 text-uppercase mb-4 ms-4"
										type="button">
									Checkout
								</button>
							}

							@*TODO: Handle payment methods butttons*@

						</div>
					</div>
				</div>
			</form>
		}
		else
		{
			<div class="no-data">
				Shopping Cart is Empty @*Localize*@
			</div>
		}
	</div>
</div>