@using GlideBuy.Models
@using GlideBuy.Models.Catalog
@using GlideBuy.Support.Mvc.Routing
@model CategoryNavigationModel
@inject ICustomUrlHelper _urlHelper

<!-- Categories mega menu -->
<div class="col-lg-3">
    <div class="navbar-nav">
        <div class="dropdown w-100">

            <!-- Buttton visible on screens > 991px wide (lg breakpoint) -->
            <div class="cursor-pointer d-none d-lg-block" data-bs-toggle="dropdown" data-bs-trigger="hover" data-bs-theme="dark">
                <a class="position-absolute top-0 start-0 w-100 h-100" href="shop-categories-electronics.html">
                    <span class="visually-hidden">Categories</span>
                </a>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle w-100 rounded-bottom-0 justify-content-start pe-none">
                    <i class="ci-grid fs-lg"></i>
                    <span class="ms-2 me-auto">Categories</span>
                </button>
            </div>

            <!-- Buttton visible on screens < 992px wide (lg breakpoint) -->
            <button type="button" class="btn btn-lg btn-secondary dropdown-toggle w-100 justify-content-start d-lg-none mb-2" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                <i class="ci-grid fs-lg"></i>
                <span class="ms-2 me-auto">Categories</span>
            </button>

            <!-- Mega menu -->
            <ul class="dropdown-menu @(ViewBag.IsStatic ? "dropdown-menu-static" : "") w-100 rounded-top-0 rounded-bottom-4 py-1 p-lg-1" style="--cz-dropdown-spacer: 0; --cz-dropdown-item-padding-y: .625rem; --cz-dropdown-item-spacer: 0">

                <li class="d-lg-none pt-2">
                    <a class="dropdown-item fw-medium" href="shop-categories-electronics.html">
                        <i class="ci-grid fs-xl opacity-60 pe-1 me-2"></i>
                        All Categories
                        <i class="ci-chevron-right fs-base ms-auto me-n1"></i>
                    </a>
                </li>

                @foreach (var category in Model.Categories)
                {
                    <li class="dropend position-static">

                        <div class="position-relative rounded pt-2 pb-1 px-lg-2" data-bs-toggle="dropdown" data-bs-trigger="hover">
                            <a class="dropdown-item fw-medium stretched-link d-none d-lg-flex" href="@(await _urlHelper.RouteGenericUrlAsync<Category>(new { SeName = category.SeName }))">
                                <i class="ci-computer fs-xl opacity-60 pe-1 me-2"></i>
                                <span class="text-truncate">@category.Name</span>
                                <i class="ci-chevron-right fs-base ms-auto me-n1"></i>
                            </a>
                            <div class="dropdown-item fw-medium text-wrap stretched-link d-lg-none">
                                <i class="ci-computer fs-xl opacity-60 pe-1 me-2"></i>
                                @category.Name
                                <i class="ci-chevron-down fs-base ms-auto me-n1"></i>
                            </div>
                        </div>

                        <div class="dropdown-menu rounded-4 p-4" style="top: 1rem; height: calc(100% - .1875rem); --cz-dropdown-spacer: .3125rem; animation: none;">
                            <div class="d-flex flex-column flex-lg-row h-100 gap-4">
                                
                                @foreach (var sub in category.Subcategories)
                                {
                                    <div style="min-width: 194px">

                                        <div class="d-flex w-100">
                                            <a class="animate-underline animate-target d-inline h6 text-dark-emphasis text-decoration-none text-truncate" href="@(await _urlHelper.RouteGenericUrlAsync<Category>(new { SeName = sub.SeName }))">@sub.Name</a>
                                        </div>

                                        <ul class="nav flex-column gap-2 mt-n2">
                                            @foreach (var ssub in sub.Subcategories)
                                            {
                                                <li class="d-flex w-100 pt-1">
                                                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" href="href=" @(await _urlHelper.RouteGenericUrlAsync<Category>(new { SeName = category.SeName }))"">@ssub.Name</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }

                                <div class="d-none d-lg-block">
                                    <div class="d-none d-xl-block" style="width: 284px"></div>
                                    <div class="d-xl-none" style="width: 240px"></div>
                                    <div class="position-relative d-flex flex-column justify-content-center h-100 bg-body-secondary rounded-5 py-4 px-3">
                                        <div class="text-center px-2">
                                            <span class="badge bg-danger bg-opacity-10 text-danger fs-sm rounded-pill mb-2">Save up to $400</span>
                                            <div class="fs-sm text-light-emphasis mb-2">Starts from <del>$1,599.00</del> $1,399.00</div>
                                            <div class="h2 mb-4">Surface Laptop Studio</div>
                                        </div>
                                        <img src="assets/img/mega-menu/electronics/01.png" width="252" alt="Surface Laptop Studio">
                                        <div class="text-center mt-4">
                                            <a class="btn btn-sm btn-primary stretched-link" href="shop-catalog-electronics.html">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>